<button id="topBtn" onclick="topFunction()"><img src="images/back_to_top.png"></button>
<footer>
    <p>&copy; 2024 Pham Binh An, Pham Thuy Lam, Nguyen Minh Tien Trong</p>
</footer>
<script src="/js/scripts.js"></script>
</body>
</html>

