    <h1>GameHub</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="/games">Games</a>
                <div class="dropdown-content">
                    <a href="/games/action">Action</a>
                    <a href="/games/adventure">Adventure</a>
                    <a href="/games/strategy">Strategy</a>
                    <a href="/games/sports">Sports</a>
                </div>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

