<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>GameHub</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#">Games</a>
                    <div class="dropdown-content">
                        <% genres.forEach(genre => { %>
                            <a href="/games/<%= genre.genre.toLowerCase(); %>"><%= genre.genre %></a> 
                            <!--Debugging result show that `genre` is an object with `genre` property, I don't know why, but that's it-->
                        <% }) %>
                    </div>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

