<%- include ('partials/header') %>
    <h1>Liên hệ</h1>

    <div class="contact-info">
        <h2>Contact info</h2>
        <p>Address: 123 ABC Street, XYZ District, Hanoi, Vietnam</p>
        <p>Tel: 0123 456 789</p>
        <p>Email: info@example.com</p>
    </div>

    <div class="contact-form">
        <h2>Send us information</h2>
        <form>
            <label for="name">Họ và tên:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Content</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>
<%- include ('partials/footer') %>

