<%- include('partials/header') %>
<div class="game-container">
    <iframe src="https://example.com/game" width="800" height="600" frameborder="0"></iframe>
</div>

<div class="comment-section">
    <h2>Comments</h2>
    <div class="comment-form">
        <textarea placeholder="Leave a comment..."></textarea>
        <button type="button">Submit</button>
    </div>
    <div id="comments">
        <!-- Comments will be dynamically added here -->
    </div>
</div>
<%- include('partials/footer') %>  
