<%- include('partials/header') %>
<h1><%= game.name %></h1>
<div class="game-container">
    <iframe src="<%= game.link %>" width="800" height="600" frameborder="0"></iframe>
</div>

<div class="comment-section">
    <h2>Comments</h2>
    <div class="comment-form">
        <textarea placeholder="Leave a comment..."></textarea>
        <button type="button">Submit</button>
    </div>
    <div id="comments">
         
    </div>
</div>
<%- include('partials/footer') %>  
