<div class="container">
    <h1>Sign up</h1>
    <form>
        <label for="name">Name </label>
        <input type="text" id="name" name="name" required>

        <label for="password">Password </label>
        <input type="text" id="password" name="password" required>

        <label for="password"> Repeat password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Sign up</button>
      
    </form>
</div>

