<% var title = 'About'; %>
<%- include('../layout', {body: content}) %>

<div id="content">
    <h1>About GameHub</h1>
    <p>GameHub is a platform where you can play a variety of web games.</p>
</div>
