<%- include('../../partials/header') %>
<link rel="stylesheet" href="/css/home-games.css">
<div id="content">
    <div style="display: flex;justify-content: space-between;align-content: center;align-items: center">
        <h1>Add Game</h1>
    </div>
    <div class="game-list">
        <form autocomplete="off" method="POST" action="/admin/game/add">
            <div class="form-group">
                <label for="link">Link</label>
                <input type="text" name="link" required class="form-control" id="link" aria-describedby="emailHelp" placeholder="Link">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" required class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="genre">Genre</label>
                <input type="text" name="genre" required class="form-control" id="genre" aria-describedby="emailHelp" placeholder="Genre">
            </div>
            <div class="form-group">
                <label for="thumbnail">Thumbnail</label>
                <input type="text" name="thumbnail" required class="form-control" id="thumbnail" aria-describedby="emailHelp" placeholder="thumbnail">
            </div>
            <div class="form-group">
                <label for="name">Description</label>
                <textarea name="description" class="form-control" id="" cols="30" rows="3" placeholder="Description" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<%- include('../../partials/footer') %>
